@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200;1,300&display=swap');



.background{
  background-color: rosybrown;
  
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rosybrown; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-bottom: 2em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar{
  
  padding: 20px;
  font-family: Source Serif Pro;
}
.main{
  background-color: snow;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 8em;
  color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: 3em solid rosybrown;
  
}

.cols{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  margin-left: 50px;
  
}

.main h3{
  font-family: Source Serif Pro;
  text-align: center;
  margin: 8px;
}

.img{
 height: 200px;
 width: 190px;
 border-radius: 200px;
 border: 6px solid rosybrown;
}


.buttons_container{
  display: flex;
  flex-direction: row;
}

.title{  
    margin-left: 30px;
    font-family: Source Serif Pro;
    font-size: 50px;
    
  }
  
  .button{
    font-family: Source Serif Pro;
   margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
    color: snow;
    font-size: 25px;
    background-color: rosybrown;
    border-radius: 10px;
    border-color: transparent;
  }
  .projects{
    background-color: snow;
    padding: 5em 2em 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-top: 0;
    border-left: 3em solid rosybrown;
    border-right: 3em solid rosybrown;
    border-bottom: 3em solid rosybrown;
    margin-left: 160px;
  }
  .cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }
  
  .projects h2{
    font-family: Source Serif Pro;
    font-size: 3em;
  }
  
  .card{
    margin-top: 40px;
    width: 18rem;
    color: black;
    margin-left: 4em;
    border: 6px solid rosybrown;
    
  }
  .card_button{
  background-color: rosybrown;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;

  }


  .link{
    color: white;
    text-decoration: none;
    margin: 10px;
  }

  .academic{
    width: auto;
    background-color: snow;
    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12em;
    border-top: 0;
    border-left: 3em solid rosybrown;
    border-right: 3em solid rosybrown;
    border-bottom: 3em solid rosybrown;
    margin-left: 160px;
    
    
  }

.list{
  background-color: rosybrown;
  margin: 1em;
  color:white;
  font-size: 1.2em;
  border: 6px solid rosybrown;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  text-align: center;
  
}

.languages {
  background-color: snow;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 8em;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-top: 0;
  border-left: 3em solid rosybrown;
  border-right: 3em solid rosybrown;
  border-bottom: 3em solid rosybrown;
}

.box{
  font-family: Source Serif Pro;
    color: black;
    font-size: 25px;
    background-color: snow;
    border-radius: 10px;
    border-color: transparent;
    padding: 1em;
    border: 0.2em solid rosybrown;
    margin: 2em 1em 1em 1em;
}

.skills{
  background-color: snow;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 8em;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-top: 0;
  border-left: 3em solid rosybrown;
  border-right: 3em solid rosybrown;
  border-bottom: 3em solid rosybrown;
}
  .list2{
    background-color: white;
    margin: 1em;
    color:black;
    font-size: 1.2em;
    border: 6px solid rosybrown;
    padding: 3em 12em 3em 12em;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    text-align: center;
  }
  .item{
    margin: 0.5em;
  }